
<nav class=" navcont">
  <div class="nav-wrapper  container">
    <a href="#" class="brand-logo logoGen">IBEROAMERICANA</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a a routerLink="/home" routerLinkActive="active">HOME</a></li>
      <li><a a routerLink="/students" routerLinkActive="active">ADD</a></li>
      <li><a a routerLink="/show-students" routerLinkActive="active">SHOW</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="page-footer footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Camilo LIndarte Ortiz</h5>
        <p class="grey-text text-lighten-4">Proyecto FInal - CRUD con el Stack MEAN.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Tecnologias</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Angula 10</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Node JS</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Express</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Mondo DB</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Materialize</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright footerBootom">
    <div class="container">
    © 2020 Copyright Text
    </div>
  </div>
</footer>